.git*
.idea
.env
.editorconfig
.php*
.chglog
vendor
docker-compose.yaml
Dockerfile
labels.yaml
LICENSE
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
README.md
Orion.png
CHANGELOG.md
